@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --gray-blue: hsl(246, 25%, 77%);

    --main-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--red);
    background-repeat: no-repeat;
    background-image: url(images/bg-intro-mobile.png);
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--main-font);
    display: grid;
    grid-template-columns: 1fr;
}

.description {
    color: white;
    margin: 4em auto 4em auto;
    width: 85%;
    text-align: center;
    line-height: 1.7;
}

.description h1 {
    line-height: 1.5;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.description p {
    font-size: 1rem;
}

.free-trial {
    font-size: 0.8rem;
    background-color: var(--blue);
    color: white;
    padding: 0 40px;
    border-radius: 10px;
    width: 85%;
    height: 78px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.free-trial span {
    font-weight: 700;
}

.form-control {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 2.5em auto;
    width: 85%;
    display: grid;
}

.form-control div {
    width: 100%;
}

.form-control input {
    height: 48px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.form-control input:focus {
    outline: none;
}

.button {
    height: 48px;
    border-radius: 5px;
    border: none;
    background-color: var(--green);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    cursor: pointer;
    background-color: hsla(154, 59%, 51%, 0.836);
    top: 2px;
}

.form-control p {
    margin-top: 5px;
    font-size: 0.65rem;
    text-align: center;
    color: var(--gray-blue);
}

.form-control p span {
    color: var(--red);
    font-weight: 600;
    font-size: 0.7rem;
}

.free-trial, .form-control {
    box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
}

/* Error */

.error {
    border: 2px solid var(--red);
    background: url('images/icon-error.svg') no-repeat;
    background-position: 96% 50%;
}

.error-text {
    font-size: 12px;
    color: var(--red);
    display: block;
    text-align: right;
    margin-top: -15px;
    margin-bottom: 20px;
    margin-right: 5px;
}

@media only screen and (min-width: 1000px) {
    body {
        margin: 0 auto;
        height: 100vh;
        max-width: 1440px;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        background-image: url(images/bg-intro-desktop.png);
        background-size: cover;
    }

    .description {
        margin-top: 150px;
        padding-left: 40px;
    }

    .description h1 {
        font-size: 3.3rem;
        text-align: left;
        line-height: 1.2;
    }
    .description p {
        font-size: 1rem;
        text-align: left;
    }

    .free-trial {
        height: 58px;
        font-size: 16px;
    }

    .intro-form {
        width: 85%;
    }

    .form-control {
        padding: 35px;
        row-gap: 20px;
    }
}